
export XKB_DEFAULT_LAYOUT=us,il
export XKB_DEFAULT_OPTIONS=grp:alt_shift_toggle,caps:shift

# for both qt5ct and qt6ct
export QT_QPA_PLATFORMTHEME=qt5ct

export XDG_MENU_PREFIX=all-

export VISUAL=featherpad

export GIT_EDITOR="featherpad -s"
