
Xft.dpi:    100

XTerm*background:         black
XTerm*cursorUnderLine:    true
XTerm*faceName:           monospace
XTerm*faceSize:           10
XTerm*foreground:         gray
XTerm*geometry:           100x30
XTerm*saveLines:          6000
XTerm*selectToClipboard:  true
XTerm*ttyModes:           erase ^H
XTerm.vt100.translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
