# /etc/crontab
#
SHELL=/bin/sh
PATH=/bin:/sbin:/usr/bin:/usr/sbin
MAILTO=""
CRON_WITHIN=7200
#
#minute	hour	mday	month	wday	command
#
# rotate log files every hour, if necessary
0	*	*	*	*	/usr/bin/newsyslog
