
# Files to always avoid comparing
IGNORE_FILES='/.cshrc /.profile /boot/device.hints /etc/crontab /etc/cron.d/at /etc/devfs.conf /etc/dhclient.conf /etc/group /etc/hosts /etc/inetd.conf /etc/login.conf /etc/master.passwd /etc/motd /etc/newsyslog.conf /etc/nsswitch.conf /etc/ntp.conf /etc/portsnap.conf /etc/ssh/ssh_config /etc/ssh/sshd_config /etc/sysctl.conf /etc/syslog.conf /etc/ttys /root/.cshrc /root/.login /root/.profile'
